<div class="nested-form-wrapper" data-new-record="<%= receipe_ingredient_form.object.new_record? %>">
  <h2 class="govuk-header-m">
    Ingredient <span class="record-counter"></span>
  </h2>

  <%= receipe_ingredient_form.hidden_field :id %> 

  <%= receipe_ingredient_form.fields_for :ingredient do |ingredient_form| %>
    <%= ingredient_form.hidden_field :id %> 

    <%= ingredient_form.govuk_text_field :name, label: { text: "Name" } %>
  <% end %> 

  <%= receipe_ingredient_form.govuk_number_field :quantity, label: { text: "Quantity" } %>

  <%= receipe_ingredient_form.govuk_text_field :unit, label: { text: "Unit" } %>

  <%= receipe_ingredient_form.govuk_text_field :notes, label: { text: "Notes" } %>

  <% unless receipe_ingredient_form.index == 0 %>
    <%= govuk_button_to(
      "Remove ingredient",
      secondary: true,
      class: "govuk-!-margin-top-2",
      data: { action: "nested-form#remove" },
    ) %>
  <% end %> 

  <%= receipe_ingredient_form.hidden_field :_destroy %>
</div>
