<p style="color: green"><%= notice %></p>
<% content_for :title, "My Receipes" %>

<%= form_with(
  model: @filter_form,
  url: "",
  method: :get,
  scope: :filters,
  data: {
    turbo_frame: "my-receipes",
    controller: "auto-submit",
    auto_submit_target: "form"
  }
) do |form| %> 
  <div class="margin-bottom-10">
    <%= form.label :query, "Search receipe" %> 
  </div>
  <div>
    <%= form.search_field(
      :receipe_name,
      placeholder: "Receipe name",
      data: { auto_submit_target: "receipeInput" },
      size: 30
    ) %> 
  </div>

  <br> 
  <div data-auto-submit-target="tagsInput">
    <%= form.collection_checkboxes(:tags, @tags, :to_s, :to_s) %>
  </div>

  <br> 
  <br> 
  <br> 

  <div class="margin-bottom-10">
    <%= form.label :ingredient_query, "Search by ingredients" %> 
  </div>
  <div>
    <%= form.text_area(
      :ingredients,
      placeholder: "Add a comma between ingredients",
      data: { auto_submit_target: "ingredientInput" },
      size: "30x5"
    ) %> 
  </div>

  <%= form.hidden_field :remove_filters, value: @ingredients_query.blank? && @receipe_name_query.blank? %>
<% end %> 

<%= turbo_frame_tag "my-receipes" do %> 
  <div class="grid receipe-grid margin-top-15">
    <% @filter_form.filtered_receipes.each do |receipe| %>
      <%= link_to saved_receipe_path(receipe), data: { turbo_frame: "_top" } do %>
        <div>
          <% if receipe.image.attached? %> 
            <%= image_tag url_for(receipe.image), class: "img-thumbnail" %>
          <% end %> 
          <h2 class="header-m"><%= receipe.name %></h2>
        </div>
      <% end %> 
    <% end %>
  </div>
<% end %> 

<%= link_to "Create new receipe", start_saved_receipes_path %>
