<%= form_with(model:, url:, method:) do |form| %>
  <% if model.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this receipe from being saved:</h2>

      <ul>
        <% model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.govuk_file_field(
    :image,
    label: { text: 'Image' },
    javascript: true
  ) %> 

  <%= form.govuk_text_field :name, label: { text: "Name" } %>

  <%= form.govuk_text_field :prep_time, label: { text: "Prep time" } %>

  <%= form.govuk_text_field :cook_time, label: { text: "Cook time" } %>

  <%= form.govuk_text_field :servings, label: { text: "Servings" } %>

  <%= form.govuk_text_area :description, label: { text: 'Description' }, rows: 7 %>

  <%= form.govuk_submit "Continue" %>
<% end %>
