<div class="nested-form-wrapper" data-new-record="<%= instruction_form.object.new_record? %>">
  <%= instruction_form.hidden_field :step, value: instruction_form.index %>

  <div>
    <%= instruction_form.label :body, style: "display: block", class: 'input_field' %>
    <%= instruction_form.text_field :body %>
  </div>

  <% unless instruction_form.index == 0 %>
    <button type="button" data-action="nested-form#remove">Remove instruction</button>
  <% end %> 

  <%= instruction_form.hidden_field :_destroy %>
</div>
