<%= form_with(model: receipe) do |form| %>
  <% if receipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(receipe.errors.count, "error") %> prohibited this receipe from being saved:</h2>

      <ul>
        <% receipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :instructions, style: "display: block" %>
    <%= form.textarea :instructions %>
  </div>

  Ingredients
  <%= form.fields_for :ingredients do |ingredients_form| %>
    <div>
      <%= ingredients_form.label :name, style: "display: block" %>
      <%= ingredients_form.text_field :name %>
    </div>

    <div>
      <%= ingredients_form.label :quantity, style: "display: block" %>
      <%= ingredients_form.number_field :quantity %>
    </div>
  <% end %> 

  <div>
    <%= form.submit %>
  </div>
<% end %>
