<p style="color: green"><%= notice %></p>
<% content_for :title, "Receipes" %>

<div class="govuk-grid-row">
  <div class="moj-filter-layout__filter app-filter govuk-grid-column-one-third govuk-!-margin-bottom-6">
    <div class="moj-filter">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filters</h2>
        </div>
      </div>

      <div class="moj-filter__content" tabindex="-1">
        <%= form_with(
          model: @filter_form,
          url: "",
          method: :get,
          scope: :filters,
          data: {
            turbo_frame: "receipe-table",
            controller: "auto-submit",
            auto_submit_target: "form"
          }
        ) do |form| %> 
          <div class="moj-filter__options">
            <div class="govuk-form-group filter-group">
              <%= form.govuk_text_field(
                :receipe_name,
                label: { text: "Search receipe" },
                data: { auto_submit_target: "receipeInput" },
              ) %>

              <div class="govuk-form-group filter-group" data-auto-submit-target="tagsInput">
                <%= form.govuk_collection_check_boxes(
                  :tags,
                  @tags,
                  :to_s,
                  :to_s,
                  legend: { text: 'Tags', size: 's' },
                  small: true,
                ) %>
              </div>

              <%= form.govuk_text_area(
                :ingredients,
                label: { text: "Search by ingredients", hint: "Add a comma between ingredients" },
                data: { auto_submit_target: "ingredientInput" },
                rows: 5,
              ) %> 
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>

  <div class='moj-filter-layout__content'>
    <%= turbo_frame_tag "receipe-table" do %> 
      <div class="govuk-grid-row">
        <% @receipes.each do |receipe| %>
          <div class="govuk-grid-column-one-third">
            <%= link_to receipe_path(receipe), class: 'no-underline', data: { turbo_frame: "_top" } do %>
              <div>
                <% if receipe.image.attached? %> 
                  <%= image_tag url_for(receipe.image) %>
                <% end %> 
                <h2 class="govuk-heading-m"><%= receipe.name %></h2>
              </div>
            <% end %> 
          </div>
        <% end %>

      </div>
      <%= govuk_pagination(pagy: @pagy) %>
    <% end %> 
  </div>
</div>
