<p style="color: green"><%= notice %></p>

<% content_for :title, "Receipes" %>

<h1>
  <%= link_to "Receipes", root_path %> 
</h1>

<%= Time.zone.now %> 

<%= form_with method: :get, data: { turbo_frame: "receipe-table" } do |form| %> 
  <%= form.search_field :query, placeholder: "Search", value: @search_query %> 
<% end %> 

<%= render 'table', receipes: @receipes %> 

<%= link_to "New receipe", new_receipe_path %>
