<p style="color: green"><%= notice %></p>
<% content_for :title, "Receipes" %>

<%= form_with(
  method: :get,
  scope: :filters,
  data: {
    turbo_frame: "receipe-table",
    controller: "auto-submit",
    auto_submit_target: "form"
  }
) do |form| %> 
  <div class="margin-bottom-10">
    <%= form.label :query, "Search receipe" %> 
  </div>
  <div>
    <%= form.search_field(
      :receipe_name,
      placeholder: "Receipe name",
      value: @receipe_name_query,
      data: { auto_submit_target: "input" },
      size: 30
    ) %> 
  </div>

  <br> 
  <br> 
  <br> 

  <div class="margin-bottom-10">
    <%= form.label :ingredient_query, "Search by ingredients" %> 
  </div>
  <div>
    <%= form.text_area(
      :ingredients,
      placeholder: "Add a comma between ingredients",
      value: @ingredients_query,
      data: { auto_submit_target: "secondInput" },
      size: "30x5"
    ) %> 
  </div>
<% end %> 

<%= turbo_frame_tag "receipe-table" do %> 
  <div class="grid receipe-grid margin-top-15">
    <% @receipes.each do |receipe| %>
      <%= link_to receipe_path(receipe), data: { turbo_frame: "_top" } do %>
        <div>
          <%= image_tag url_for(receipe.image), class: "img-thumbnail" %>
          <h2 class="header-m"><%= receipe.name %></h2>
        </div>
      <% end %> 
    <% end %>
  </div>
<% end %> 

<%= link_to "New receipe", new_receipe_path %>
