<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @receipe %>">
  <p>
    <strong>Name:</strong>
    <%= @receipe.name %>
  </p>

  <% if @receipe.image.present? %> 
    <p><%= image_tag url_for(@receipe.image), class: "img-thumbnail" %></p>
  <% end %> 

  <p>
    <strong>Prep time:</strong>
    <%= @receipe.prep_time %>
  </p>

  <p>
    <strong>Cook time:</strong>
    <%= @receipe.cook_time %>
  </p>

  <p>
    <strong>Prep servings:</strong>
    <%= @receipe.servings %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= @receipe.tags&.join(",") %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @receipe.description %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= @receipe.instructions %>
  </p>

  <p>
    <strong>Ingredients:</strong>
  </p>

  <% @receipe.receipe_ingredients.each do |receipe_ingredient| %>
    <%= render IngredientComponent.new(receipe_ingredient:) %> 
  <% end %> 
</div>

<div>
  <%= link_to "Edit this receipe", edit_receipe_path(@receipe) %> |
  <%= link_to "Back to receipes", receipes_path %>

  <%= button_to "Destroy this receipe", receipe_path(@receipe), method: :delete %>
</div>
